body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    max-width: 750px;
}

.post-list{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
} .post-list > .li{
    margin-bottom: 30;
}

.category{
    display: inline-block;
    width: 90px;
    font-size: 18px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-meta{
    color: #828282;
    font-size: 18px;
    
}

.list-title{
    display: block;
    font-size: 24px;
    margin-top:10px;
}

.book-list{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
} .book-list > li{
    margin-bottom: 30px;
} .book-list > h2{
    text-align: center;
}

.book-meta{
    color: #828282;
    font-size: 14px;
}

.book-title{
    display: inline;
    font-size: 20px;
}

.codestyle{
    background: rgb(240, 240, 240); 
    color: rgb(68, 68, 68);
}