@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: #1c1c1c;
    }
  }
  @media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1c;
        color: white;
    }
  }

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    max-width: 800px;
    padding-left: 50px;
    padding-right: 50px;
}

a{
    color:#1da1f2;
}

.page-header{
    text-align: center;
}

.post-list{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
} .post-list > li{
    margin-bottom: 40;
}

.category{
    display: inline-block;
    width: 110px;
    font-size: 18px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-meta{
    color: #828282;
    font-size: 18px;
    
}

.list-title{
    display: block;
    font-size: 24px;
    margin-top:10px;
    margin-bottom: 3px;
}

.book-list{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
} .book-list > li{
    margin-bottom: 30px;
} .book-list > h2{
    text-align: center;
}

.book-meta{
    color: #828282;
    font-size: 14px;
}

.book-title{
    display: inline;
    font-size: 20px;
}

.codestyle{
    background: rgb(240, 240, 240); 
    color: rgb(68, 68, 68);
}

.bi-twitter{color: #1da1f2;}
.bi-linkedin{color: #0077b5;}
.bi-github{color: white}

.icon-bar{
    padding-top: 10px;
    padding-bottom:10px;
}

.icon-bar > a {
    font-size: 1.75em;
    padding-left: 10px;
    padding-right: 10px;
}

.post{line-height:1.8;}
.post > img{width: 100%;}
